<!DOCTYPE html>
<html>
  <head>
    <title><%= current_page.data.title || "Middleman" %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300italic,300,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "styles.css" %>
    <!--[if lt IE 9]>
    <script src="/html5shiv.js"></script>
    <%= stylesheet_link_tag "ie" %>
    <![endif]-->
  </head>
  <body>
    <nav id="top-nav" class="nav">
      <div class="progress-bar"></div>
      <ul>
        <li><a href="#portfolio">Portfolio</a></li>
        <li><a href="#work-experience">Work Experience</a></li>
        <li><a href="#skills-education">Skills &amp; Education</a></li>
        <li><a href="#about">About Me</a></li>
      </ul>
    </nav>
    <%= yield %>
    <%= javascript_include_tag  "all" %>
  </body>
</html>