---
title: Annie Sexton | Full Stack Web Developer
---

<div id="hero" class="table gray-gradient">
  <div class="table-cell">
    <div class="container">
      <div class="row">
        <div id="hero-inner">
          <div class="col-md-3 hero-headshot">
            <div class="headshot-wrapper">
              <div id="headshot2" class="headshot"></div>
              <div id="headshot1" class="headshot"></div>
            </div>
          </div>
          <div class="col-md-8 hero-copy">
            <h1>My name is <strong>Annie Sexton</strong>.<br>
            I'm a web developer and travel lover.</h1>

            <nav id="hero-nav">
              <ul>
                <li><a class="smooth-scroll" href="#portfolio">Portfolio</a></li>
                <li><a class="smooth-scroll" href="#work-experience">Work Experience</a></li>
                <li><a class="smooth-scroll" href="#skills-education">Skills &amp; Education</a></li>
                <li><a class="smooth-scroll" href="#about">About</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
    <a id="get-started-arrow" class="smooth-scroll" href="#portfolio"><i class="icon-angle-down"></i></a>
</div>

<div id="portfolio" class="gray-section">
  <div class="container">
    <div class="section-header">
      <h2>Portfolio</h2>
    </div>
    <div class="row">
      <% data.portfolio.portfolio.each do |project| %>
        <div class="col-md-4 col-sm-6 portfolio-block-wrapper">
          <div class="project-block">
            <a href="<%= project.url %>" target="_blank"class="project-screenshot">
              <%= image_tag "portfolio/" + project.img %>
              <i class="icon-link-ext"></i>
              <span class="overlay"></span>
            </a>
            <div class="project-details">
              <h3><a href="<%= project.url %>" target="_blank"><%= project.name %></a></h3>
              <div class="where"><i class="icon-location"></i> <%= project.where %></div>
              <div class="project-tags">
                <% project.tags.each do |tag| %>
                  <span class="tag"><%= tag %></span>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div id="work-experience">
  <div class="container">
    <div class="section-header">
      <h2>Work Experience</h2>
    </div>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div id="work-experience-wrapper">
          <% data.work_experience.work_experience.each do |work| %>
            <div class="work-block">
              <div class="work-header">
                <h3><%= work.title %></h3>
                <h4><%= work.company %></h4>
                <div class="when-where">
                  <div class="where"><a href="http://maps.google.com/?q=<%= work.location%>" target="_blank"><i class="icon-location"></i><%= work.location %></a></div>
                  <div class="when"><%= work.when %></div>
                </div>
              </div>
              <div class="work-body"><%= work.description.gsub(/\n/, '<div class="break"></div>') %></div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div><!-- end Resume -->
<div id="skills-education" class="gray-section">
  <div class="container">
    <div class="section-header">
      <h2>Skills</h2>
    </div>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div id="skills">
          <% data.skills.skills.each do |skill_group| %>
            <div id="<%= skill_group.slug %>" class="skill-group">
              <div class="skill-group-title">
                <h3><%= skill_group.group %></h3>
              </div>
              <div class="skill-body">
                <div>
                  <% skill_group.skills.each do |skill_set| %>
                    <ul>
                      <% skill_set.each do |skill| %>
                        <li><%= skill %></li>
                      <% end %>
                    </ul>
                  <% end %>
                  <% if (skill_group.experience_with.count > 0) %>
                    <ul>
                      <strong>Experience with: </strong>
                        <% skill_group.experience_with.each do |skill| %>
                          <li><%= skill %></li>
                        <% end %>
                    </ul>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div><!-- end Skills -->

    <div class="section-header">
      <h2>Education</h2>
    </div>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div id="skills">
          <% data.education.education.each do |education| %>
            <div class="education-block">
              <div class="education-header">
                <h3><%= education.title %></h3>
                <h4><%= education.subtitle %></h4>
                <p><a href="http://maps.google.com/?q=<%= education.location %>" target="_blank"><i class="icon-location"></i><%= education.location %></a></p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div><!-- end Education -->
  </div>
</div>

<div id="about">
  <div class="section-header">
    <h2>About Me</h2>
  </div>
  <div class="headshot-wrapper">
    <div id="headshota" class="headshot"></div>
    <div id="headshotc" class="headshot"></div>
    <div id="headshotb" class="headshot"></div>
  </div>
  <div class="about-bio">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <section>
            <h3>Who I Am</h3>
            <p>I'm Annie Sexton, and I'm a web developer – although I'm sure you've figured that out by now. I was born and raised in the <a href="https://www.google.com/maps/place/Austin,+TX/@30.3077609,-97.7534014,11z/data=!3m1!4b1!4m2!3m1!1s0x8644b599a0cc032f:0x5d9b464bd469d57a" target="_blank">heart of Texas</a>, where I survived solely on barbeque and live music. </p>

            <p>After college, I achieved my (at that point) life-long dream of working as an English instructor in Japan. I accidentally fell in love with the magical world of website-making when I was tasked with making tweaks to the school's website, and later I accepted my first-ever web design job in Osaka, Japan.</p>

            <p>These days I'm kicking it in sunny San Diego, California, where I work at Digital Telepathy. When I'm not building kick-ass websites, I'm usually brushing up on my Japanese, reading, traveling, writing, camping, or let's face it – doing more programming.</p>
          </section>
          <section>
            <h3>How I Work</h3>
            <p><strong>I'm a strong communicator.</strong> My desire to set clear expectations comes from a place of genuine care and respect for the people I work with. I aim for authenticity, clarity and diligence.</p>
            <p><strong>I am language agnostic.</strong> I enjoy watching people squirm when I tell them I write both Ruby and PHP. You can argue until the cows come home about specs, but at the end of the day, the best application is the one crafted with elegance, efficiency and foresight – not the one in the "best" language.</p>
          </section>
          <section>
            <h3>How I Live</h3>
            <p>I love to make jokes, and I love to laugh. I will always try to make you crack a smile.</p>
            <p>I invest enormously in bettering myself, my skills, my character, and my outlook on the world.</p>
            <p>I believe that kindness is powerful.</p>
          </section>
        </div>
      </div>
    </div>
  </div>
  
</div>